@model Hair_Dressing_Appointments_MVC.Models.Appointment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="HairDresserId" class="control-label"></label>
                <select asp-for="HairDresserId" class="form-control" asp-items="ViewBag.HairDresserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="HairDressingOptionId" class="control-label"></label>
                <select asp-for="HairDressingOptionId" class="form-control" asp-items="ViewBag.HairDressingOptionId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
